<section class="singles small-12 columns">
	<div class="small-3 columns rank">
		<small>You rank</small><div class="clearfix"></div>
		<span ng-show="rank" class="your-rank">{{rank}}</span>
		<span ng-show="!rank" class="your-rank" style="font-size:">N/A</span>
		<small>out of <span>{{total_players}}</span></small>
	</div>
	<div class="small-6 columns scoreboard">
		<div class="chart">
			<table ng-show="chart.length">
				<thead>
					<tr>
						<td>rank</td>
						<td>opponent</td>
						<td>all time</td>
						<td>win % against</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in chart">
						<td>{{player.rank}}</td>
						<td>{{player.username}}</td>
						<td>{{player.total_wins}} - {{player.total_losses}}</td>
						<td>{{player.win_pct || 'N/A'}}</td>
					</tr>
				</tbody>
			</table>
			<div style="width: 100%" ng-show="!chart.length">
				<p>There is no game data relative to your account that can be displayed. Play some more games!</p>
			</div>
		</div>
		<div class="win-percentage">
			<h4>Win Percentage</h4>
			<p>{{total_win_pct || 'no games recorded!'}}</p>
		</div>
		<div>
			<h4>Something Else</h4>
			<p>112</p>
		</div>
	</div>
	<div class="pie-chart-wrapper small-3 columns">
		<div id="pie-chart" class="small-3 columns"></div>
	</div>
	<div class="clearfix"></div>
	<div class="sparkline-wrapper small-12 columns small-centered">
		<div id="sparkline"></div>
	</div>
</section>