<section class="singles small-12 columns">
	<div class="sub-nav small-12 columns">
		<ul>
			<li class="display-name"><span>{{display_name || "Error"}}</span></li>
			<li><span class="header">win rate</span><strong>{{win_rate}}%</strong></li>
			<li><span class="header">record</span><strong>{{total_wins}} - {{total_losses}}</strong></li>
			<li><span class="header">last played</span>{{last_played || "never"}}</li>
			<li><span class="header">elo</span>{{elo}}</li>
		</ul>
	</div>
	<div class="timespan-select small-12 columns">
		<ul>
			<li class="active"><a href="#">ALL TIME</a></li>
			<li><a href="#">THIS MONTH</a></li>
			<li><a href="#">THIS YEAR</a></li>
		</ul>
	</div>
	<div class="stats-container small-8 columns">
		<div class="series-stats">
			<table>
				<caption>Series Stats</caption>
				<thead>
					<tr>
						<th></th>
						<th>played</th>
						<th>win rate</th>
						<th>streak</th>
						<th>+/-</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Singles</td>
						<td>{{stats.series.singles.games_played || 0}}</td>
						<td>{{stats.series.singles.win_rate || 0}}%</td>
						<td>{{stats.series.singles.streak || 0}}</td>
						<td>{{stats.series.singles.plus_minus || 0}}</td>
					</tr>
					<tr>
						<td>Doubles</td>
						<td>{{stats.series.doubles.games_played || 0}}</td>
						<td>{{stats.series.doubles.win_rate || 0}}%</td>
						<td>{{stats.series.doubles.streak || 0}}</td>
						<td>{{stats.series.doubles.plus_minus || 0}}</td>
					</tr>
					<tr>
						<td>Overall</td>
						<td>{{stats.series.overall.games_played || 0}}</td>
						<td>{{stats.series.overall.win_rate || 0}}%</td>
						<td>{{stats.series.overall.streak || 0}}</td>
						<td>{{stats.series.overall.plus_minus || 0}}</td>					
					</tr>
				</tbody>
			</table>
		</div>
		<div class="game-stats">
			<table>
				<caption>Game Stats</caption>
				<thead>
					<tr>
						<th></th>
						<th>played</th>
						<th>win rate</th>
						<th>streak</th>
						<th>+/-</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Singles</td>
						<td>{{stats.games.singles.games_played || 0}}</td>
						<td>{{stats.games.singles.win_rate || 0}}%</td>
						<td>{{stats.games.singles.streak || 0}}</td>
						<td>{{stats.games.singles.plus_minus || 0}}</td>
					</tr>
					<tr>
						<td>Doubles</td>
						<td>{{stats.games.doubles.games_played || 0}}</td>
						<td>{{stats.games.doubles.win_rate || 0}}%</td>
						<td>{{stats.games.doubles.streak || 0}}</td>
						<td>{{stats.games.doubles.plus_minus || 0}}</td>
					</tr>
					<tr>
						<td>Overall</td>
						<td>{{stats.games.overall.games_played || 0}}</td>
						<td>{{stats.games.overall.win_rate || 0}}%</td>
						<td>{{stats.games.overall.streak || 0}}</td>
						<td>{{stats.games.overall.plus_minus || 0}}</td>					
					</tr>
				</tbody>
			</table>
		</div>
		<div class="records">
			<table>
				<caption>Records</caption>
				<thead>
					<tr>
						<th></th>
						<th colspan="2" class="border-bottom">longest win streak</th>
						<!-- <th></th> -->
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th></th>
						<th>series</th>
						<th>games</th>
						<th>total<br>days played</th>
						<th>avg games<br>per opponent</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Singles</td>
						<td>{{stats.records.singles.longest_streak_series || 0}}</td>
						<td>{{stats.records.singles.longest_streak_games || 0}}</td>
						<td>{{stats.records.singles.total_days_played || 0}}</td>
						<td>{{stats.records.singles.games_per_opponent || 0}}</td>
					</tr>
					<tr>
						<td>Doubles</td>
						<td>{{stats.records.doubles.longest_streak_series || 0}}</td>
						<td>{{stats.records.doubles.longest_streak_games || 0}}</td>
						<td>{{stats.records.doubles.total_days_played || 0}}</td>
						<td>{{stats.records.doubles.games_per_opponent || 0}}</td>
					</tr>
					<tr>
						<td>Overall</td>
						<td>{{stats.records.overall.longest_streak_series || 0}}</td>
						<td>{{stats.records.overall.longest_streak_games || 0}}</td>
						<td>{{stats.records.overall.total_days_played || 0}}</td>
						<td>{{stats.records.overall.games_per_opponent || 0}}</td
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="sidebar-container small-4 columns">
		<table class="most-competitive">
			<caption>Most Competitive</caption>
			<thead>
				<tr>
					<th></th>
					<th>record</th>
					<th>win rate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{most_competitive.name}}</td>
					<td>{{most_competitive.wins_against}} - {{most_competitive.losses_against}}</td>
					<td>{{most_competitive.win_rate}}%</td>
				</tr>
			</tbody>
		</table>
		<table class="most-played">
			<caption>Most Played</caption>
			<thead>
				<tr>
					<th></th>
					<th>record</th>
					<th>win rate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{most_played.name}}</td>
					<td>{{most_played.wins_against}} - {{most_played.losses_against}}</td>
					<td>{{most_played.win_rate}}%</td>
				</tr>
			</tbody>
		</table>
		<table class="most-recommended">
			<caption>Recommended</caption>
			<thead>
				<tr>
					<th></th>
					<th>record</th>
					<th>win rate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{recommended.name}}</td>
					<td>{{recommended.wins_against}} - {{recommended.losses_against}}</td>
					<td>{{recommended.win_rate}}%</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
