 <!-- index.html -->
	<!DOCTYPE html>
	<html lang="en" ng-app="myApp">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>TemboPong</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex">
         <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!--[if lte IE 8]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/foundation.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="stylesheets/style.css">
	</head>

	<body ng-controller="mainCtrl">
		<header>
			<nav class="main-nav">
				<div class="row">
					<div class="small-12 columns">
						<a href="#"><img src="img/tembo-logo-white.png"/></a>
						<ul class="">
							<li ng-show="location.path() == '/singles'"><a ng-click="logout()"href="#">Logout</a></li>
							<li><a href="#" data-reveal-id="help-modal">Help</a></li>
							<li ng-show="location.path() == '/singles'"><a href="#" data-reveal-id="add-game-modal">Add Game</a></li>
							<!-- <li ng-class="{hidden:error_banner}">{{error_banner}}</li> -->
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- <div class="full-row background-image"> -->
			<div ng-view class="row"></div>
		<!-- </div> -->
		<!-- Add Games Modal -->
		<div ng-controller="modalCtrl" id="add-game-modal" class="reveal-modal add-game-modal" data-reveal>
			<div class="players-select left small-4 columns">
				<h4>Team one</h4>
				<div class="button-container">
					<a ng-click="page('left', 'prev')" href="#" class="prev"><i class="fa fa-angle-left fa-3x"></i></a>

					<a ng-repeat="player in players_for_buttons_left | startFrom: currPage*pageSize | limitTo: pageSize" ng-click="select('left', player)" ng-class="itemClass('left', player)" class="tiny button radius player-select-button" data-id="{{player.id}}">{{player.name}}</a>

					<a ng-click="page('left', 'next')" href="#" class="next"><i class="fa fa-angle-right fa-3x"></i></a>
				</div>
				<div class="score">
					<h4>Score</h4>
					<div class="score-container">
						<span>{{slider_left}}</span>
						<div class="clearfix"></div>
						<div id="slider-left"></div>
					</div>
				</div>
			</div>
			<div class="settings-container left">
				<!-- <div class="series-switch-container switch round">
					<input id="x" ng-model="curr_game_type" value=11 name="game-type-switch" type="radio">
 					<label for="x">11</label>

					<input id="x1" ng-model="curr_game_type" value=21 name="game-type-switch" type="radio" checked>
					<label for="x1">21</label>
					<span></span>
				</div> -->
				<div class="series-scores-container">
					<ul class="button-group radius">
						<li><a ng-click="addGame()" href="#" class="tiny button"><i class="fa fa-plus"></i> Game</a></li>
					</ul>
				</div>
				<div class="current-series">
					<table>
						<thead>
							<th class="team-left">{{team_header_left}}</th>
							<th class="team-right">{{team_header_right}}</th>
						</thead>
						<tbody>
							<tr ng-repeat="score in scores track by $index">
								<td ng-class="score.t1_score > score.t2_score ? 'active' : ''" >{{score.t1_score}}</td>
								<td ng-class="score.t1_score < score.t2_score ? 'active' : ''" >{{score.t2_score}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="players-select right small-4 columns">
				<h4>Team two</h4>
				<div class="button-container">
					<a ng-click="page('right', 'prev')" href="#" class="prev"><i class="fa fa-angle-left fa-3x"></i></a>

					<a ng-repeat="player in players_for_buttons_right | startFrom: currPage_right*pageSize | limitTo: pageSize" ng-click="select('right', player)" ng-class="itemClass('right', player)" class="tiny button radius player-select-button" data-id="{{player.id}}">{{player.name}}</a>

					<a ng-click="page('right', 'next')" href="#" class="next"><i class="fa fa-angle-right fa-3x"></i></a>
				</div>
				<div class="score">
					<h4>Score</h4>
					<div class="score-container">
						<span>{{slider_right}}</span>
						<div class="clearfix"></div>
						<div id="slider-right"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="players-submit">
				<span><a href="#" ng-click="submitGame()" class="button player-submit-button">Submit Series</a> <br/>or <a ng-click="resetModal()" href="#" class="player-cancel-button">reset</a></span>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<!-- Help Modal -->
		<div id="help-modal" class="reveal-modal help-modal" ng-controller="helpModalCtrl" data-reveal>
			<div class="small-12 columns help-container">
				<div class="help-modal-nav small-3 columns">
					<ul> 
						<li ng-click="categoryChange($event)" class="active">
							<a class="general" href="#">General</a>
							<span class="fa fa-chevron-right"></span>
						<li ng-click="categoryChange($event)">
							<a class="adding-games" href="#">Adding Games</a>
							<span class="fa fa-chevron-down"></span>
						</li>
						<li ng-click="categoryChange($event)">
							<a class="elo" href="#">ELO</a>
							<span class="fa fa-chevron-down"></span>
						</li>
						<li ng-click="categoryChange($event)">
							<a class="recent-updates" href="#">Recent Updates</a>
							<span class="fa fa-chevron-down"></span>
						</li>
					</ul>
				</div>
				<div class="help-modal-content-container small-9 columns">
					<div class="help-modal-content general">
						<ul>
							<li>
								<h4>Series vs. Games</h4>
									<p>Tembopong displays player stats by both series and games. Each series represents multiple games (e.g. best of 3, best of 5). The team that wins the majority of games in a series is considered winner of the series.
									</p>
								<h4>Limiting the Data</h4>
									<p>By default, the app shows a player’s lifetime statistics. Users can view statistics for more specific time periods by clicking on any of the timespans above the data tables (“All Time”, “This Month”, “This Year”). By clicking on “Without Mike”, you can view statistics for all games played where Mike was NOT a participant.</p>
								<h4>Sidebar</h4>
									<p>The sidebar on the right side of the screen shows player statistics in relation to coworkers. The “Most Competitive” player is the person in the office with whom you have the most even record (i.e. an equal number of wins and losses). The “Most Played” is the player with whom you have recorded the most games. The “Recommended” is the player with whom you have recorded the least games.</p>
							</li>
						</ul>
					</div>
					<div class="help-modal-content adding-games">
						<ul>
							<li>
								<h4>Selecting Teams</h4>
									<p>All employees in the office are listed in the players list. To add a player to a team, simply click their name. Use the arrows at the left and right to navigate to additional pages of player names.</p>
								<h4>Entering Scores</h4>
									<p>Users can enter scores by clicking and dragging the sliders beneath each team. Once both team’s scores have been entered, click the “Add Game” button. Multiple games can be added at once. After all games are added, click “Submit Series” to submit the score to the database. (If you enter incorrect data, click “reset” to reset the current series).</p>
							</li>
						</ul>
					</div>
					<div class="help-modal-content elo">
						<ul>
							<li>
								<h4>The ELO System</h4>
									<p>The ELO rating represents the players overall skill level and increases or decreases after each game, with the winning team taking points from the losing team. The number of points taken is based on the expected outcome, which is determined by the different in each team's rating. The higher rated team is expected to win a higher percentage of games, therefore would take less points from the lower rated opponent upon winning.</p>
								<h4>Doubles ELO</h4>
									<p>ELO was designed for single opponents. In the event of a doubles game the current ELO ratings are averaged, then the ELO drop or increase is split evenly between the teammates for each team.</p>
							</li>
						</ul>
					</div>
					<div class="help-modal-content recent-updates">
						<ul>
							<li>
								<h4>Version 1.1.0</h4>
									<p>Added ELO ratings for everyone but Eric.</p>
									<p>Added "Not Mike" tab.</p>
							</li>
							<li>
								<h4>Version 1.0.2</h4>
									<p>Removed 11/21 switch.</p>
									<p>Optimized slider handles for tablets.</p>
							</li>
							<li>
								<h4>Version 1.0.1</h4>
									<p>Changed all +/- cells from total +/- to average.</p>
									<p>Tablet optimizations for the add score modal.</p>
									<p>Various bug fixes.</p>
							</li>
							<li>
								<h4>Version 1.0.0</h4>
									<p>Initial Release.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

	  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="javascripts/vendor/modernizr.js"></script>
	  	<script src="javascripts/vendor/foundation.min.js"></script>
	  	<!-- // <script src="javascripts/vendor/highcharts.js"></script> -->
	  	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	  	<script src="javascripts/vendor/jquery.ui.touch-punch.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.js"></script>
	  	<script src="javascripts/vendor/underscore.min.js"></script>
	  	<script src="javascripts/angular.js"></script>
	  	<script>$(document).foundation();</script>
	</body>
</html>
