.hidden {
  display: none !important; }

/*============================
=            NAVIGATION      =
============================*/
nav.main-nav {
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient(top, #f26b3c, #f05924);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); }
  nav.main-nav img {
    float: left;
    margin-top: 9px; }
  nav.main-nav ul {
    float: right;
    list-style: none;
    text-align: center;
    margin: 0; }
    nav.main-nav ul li {
      margin: 0;
      float: right;
      position: relative; }
      nav.main-nav ul li a {
        position: relative;
        padding: 0 15px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        color: #fff;
        opacity: 0.8;
        text-decoration: none; }
        nav.main-nav ul li a:hover {
          opacity: 1;
          color: #fff;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15)); }
        nav.main-nav ul li a.active {
          box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
          background: #D3410E; }

nav.sub-nav {
  overflow: visible;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  border-bottom: 1px solid #dadada;
  width: 100%;
  height: 40px; }
  nav.sub-nav ul {
    float: left;
    list-style: none;
    text-align: center;
    margin: 0; }
    nav.sub-nav ul li {
      margin: 0;
      float: left;
      position: relative; }
      nav.sub-nav ul li a {
        line-height: 40px;
        color: #888;
        padding: 0 15px;
        display: inline-block;
        height: 40px;
        text-decoration: none;
        font-weight: bold; }
        nav.sub-nav ul li a.active {
          color: #000; }
          nav.sub-nav ul li a.active:after, nav.sub-nav ul li a.active:before {
            content: "";
            position: absolute;
            bottom: 0;
            height: 0;
            width: 0;
            left: 50%;
            margin: 0 0 -1px -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent; }
          nav.sub-nav ul li a.active:after {
            border-bottom: 10px solid #fff; }
          nav.sub-nav ul li a.active:before {
            border-bottom: 10px solid #dadada;
            margin: 0 0 0px -8px; }
        nav.sub-nav ul li a:hover {
          color: #555; }

/*================================
=            SINGLES PARTIAL            =
================================*/
.singles .rank {
  padding: 10px;
  text-align: center; }
  .singles .rank small {
    font-size: 18px;
    color: #555; }
    .singles .rank small:first-of-type {
      float: left; }
    .singles .rank small:nth-of-type(2) {
      font-size: 14px;
      color: #555; }
      .singles .rank small:nth-of-type(2) span {
        font-size: 24px;
        color: #f05924; }
  .singles .rank .your-rank {
    font-size: 8em;
    color: #f05924; }
.singles .scoreboard .chart table {
  width: 100%;
  text-align: center;
  border: none;
  color: #888;
  border-bottom: 1px solid #ababab; }
  .singles .scoreboard .chart table thead td {
    text-align: center;
    color: #555; }
  .singles .scoreboard .chart table tbody td {
    color: #888; }
  .singles .scoreboard .chart table tbody tr:nth-child(even) {
    background-color: rgba(240, 89, 36, 0.1); }
.singles .scoreboard div:not(.chart) {
  text-align: center;
  width: 49%;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .singles .scoreboard div:not(.chart) h4 {
    font-weight: bold;
    font-size: 18px;
    color: #555; }
  .singles .scoreboard div:not(.chart) p {
    color: #888; }
.singles .scoreboard .win-percentage {
  border-right: 1px solid #ababab; }
.singles .pie-chart-wrapper {
  height: 240px; }
  .singles .pie-chart-wrapper div {
    width: 100%;
    height: 100%; }
.singles .sparkline-wrapper {
  margin-top: 50px;
  height: 200px; }
  .singles .sparkline-wrapper div {
    height: 100%; }

/*======================================
=            ADD GAME MODAL            =
======================================*/
.add-game-modal {
  padding: 1.5em;
  overflow: auto;
  color: #555;
  top: 50px; }
  .add-game-modal .close-reveal-modal {
    color: #888; }
    .add-game-modal .close-reveal-modal:hover {
      color: #555; }
  .add-game-modal .settings-container {
    margin: 0.5em;
    margin-top: 15%; }
    .add-game-modal .settings-container .current-series {
      width: 100%; }
      .add-game-modal .settings-container .current-series table {
        width: 100%;
        height: 5em;
        min-height: 4em;
        background: #ededed;
        border: none; }
        .add-game-modal .settings-container .current-series table tr {
          background: #ededed; }
          .add-game-modal .settings-container .current-series table tr.score-left {
            border-right: 1px solid #ababab; }
        .add-game-modal .settings-container .current-series table th {
          width: 50%;
          text-align: center; }
          .add-game-modal .settings-container .current-series table th.team-left {
            border-right: 1px solid #ababab; }
        .add-game-modal .settings-container .current-series table td {
          text-align: center;
          font-size: 1em;
          color: #555; }
          .add-game-modal .settings-container .current-series table td.team {
            font-weight: bold; }
          .add-game-modal .settings-container .current-series table td.active {
            font-weight: bold;
            color: #f05924; }
    .add-game-modal .settings-container .series-scores-container {
      margin-top: 0.5em;
      overflow: auto; }
      .add-game-modal .settings-container .series-scores-container a {
        width: 100%;
        background: #555; }
        .add-game-modal .settings-container .series-scores-container a:active {
          background: #f05924; }
      .add-game-modal .settings-container .series-scores-container ul {
        list-style: none;
        margin: 0; }
      .add-game-modal .settings-container .series-scores-container li {
        width: 50%; }
    .add-game-modal .settings-container .series-switch-container {
      overflow: auto; }
      .add-game-modal .settings-container .series-switch-container a {
        width: 100%;
        margin: 0;
        background: #555; }
        .add-game-modal .settings-container .series-switch-container a.active {
          background: #f05924; }
      .add-game-modal .settings-container .series-switch-container li {
        width: 50%; }
  .add-game-modal .players-select {
    float: left;
    width: 43%;
    border: 1px solid #ebebeb;
    height: 80%;
    background: #ededed;
    border-radius: 10px; }
    .add-game-modal .players-select h4 {
      text-align: center; }
    .add-game-modal .players-select .button-container {
      text-align: center; }
      .add-game-modal .players-select .button-container .player-select-button {
        margin: 1em 0.5em;
        background: #555;
        width: 25%; }
        .add-game-modal .players-select .button-container .player-select-button.active {
          background: #f05924; }
    .add-game-modal .players-select .score .score-container {
      margin: 1em 2em;
      margin-top: 0;
      text-align: center; }
      .add-game-modal .players-select .score .score-container span {
        font-size: 8em; }
      .add-game-modal .players-select .score .score-container .ui-slider {
        background: #555;
        margin-top: 1em; }
      .add-game-modal .players-select .score .score-container .ui-slider-handle {
        background: #f05924;
        border: #f05924;
        cursor: move; }
  .add-game-modal .players-submit {
    margin: 0.5em auto;
    height: 5em;
    width: 30%;
    text-align: center; }
    .add-game-modal .players-submit .player-submit-button {
      border-radius: 8px;
      background: #f05924; }
      .add-game-modal .players-submit .player-submit-button:hover {
        opacity: 0.9; }
    .add-game-modal .players-submit .player-cancel-button {
      text-decoration: underline;
      color: #555; }

/*==================================
=            LOGIN PARTIAL         =
==================================*/
.login {
  margin-top: 5em; }
  .login h4 {
    text-align: center; }
  .login button {
    float: right;
    background: #f05924; }
    .login button:hover {
      opacity: 0.9; }
